@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
html,
body {
  margin: 0;
}

body {
  background: #F8F8FF;
  font-family: 'Ubuntu', sans-serif;
}

.navbar a img {
  width: 200px;
}

.navbar ul {
  margin: 0 auto;
}

.navbar ul li.active a {
  color: #ff4b14 !important;
}

.navbar ul li.dropdown a.dropdown-item:hover {
  background-color: #1e2030;
  color: white;
}

.navbar button {
  border-color: #1e2030 !important;
  color: #1e2030;
}

.navbar button:hover {
  color: white;
  background-color: #ff4b14 !important;
  border-color: #ff4b14 !important;
}

.cards-container {
  padding: 3rem;
}

.cards-container a {
  text-decoration: none;
}

.cards-container a:hover .info-box {
  -webkit-box-shadow: 4px 6px 17px -1px #cccccc;
          box-shadow: 4px 6px 17px -1px #cccccc;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.cards-container a .info-box {
  background: white;
  height: 100px;
  border: 3px solid white;
  border-radius: 4px;
  margin: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cards-container a .info-box .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff4b14;
}

.cards-container a .info-box .col-4 i {
  font-size: 3rem;
  color: white;
}

.cards-container a .info-box .col-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-container a .info-box .col-8 h3 {
  font-size: 18px;
  color: #1e2030;
  text-align: center;
}

.dash-container {
  padding: 3rem;
}

.dash-container p#valor1,
.dash-container p#valor2 {
  display: none;
}

.dash-container .card {
  border: 4px solid white;
  width: 100%;
  height: 450px;
}

.dash-container .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 20px;
  shape-rendering: geometricPrecision;
  background: #ff4b14 !important;
  background-color: #ff4b14 !important;
}

.dash-container .card .card-header i {
  margin-right: 10px;
}

.dash-container .card .card-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dash-container .card .card-body hr {
  width: 100%;
}

.dash-container .card .card-body .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash-container .card .card-body .col-4 i {
  font-size: 3rem;
  margin-right: 10px;
}

.dash-container .card .card-body .col-4 h4 {
  font-size: 16px;
  text-align: center;
}

.dash-container .card .card-body .col-8 {
  text-align: center;
  color: grey;
  font-weight: 700;
  font-size: 26px;
}

.dash-container .card .card-body .col-8 h4 {
  font-size: 24px;
}

.dash-container .card .card-body .col-8 span {
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  margin-right: 5px;
}

.container-devedores,
.container-titulos {
  padding: 3rem;
}

.container-devedores .card,
.container-titulos .card {
  border: 3px solid white;
}

.container-devedores .card .card-header,
.container-titulos .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 20px;
  shape-rendering: geometricPrecision;
  background: #ff4b14 !important;
  background-color: #ff4b14 !important;
}

.container-devedores .card .card-header.vencida,
.container-titulos .card .card-header.vencida {
  background: #ff4b14;
}

.container-devedores .card .card-body h5 span,
.container-titulos .card .card-body h5 span {
  margin: 0 6px;
}

.jumbotron {
  background: whitesmoke;
}

.jumbotron .container .row:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.container-titulos .card-header {
  color: #1e2030;
  font-size: 28px;
  font-weight: 600;
}

.invoice-title h2,
.invoice-title h3 {
  display: inline-block;
}

.btn-custom {
  border-color: #1e2030 !important;
  color: #1e2030;
}

.btn-custom:hover {
  color: white;
  background-color: #ff4b14 !important;
  border-color: #ff4b14 !important;
}

@media only screen and (max-width: 768px) {
  .cards-container,
  .dash-container,
  .container-devedores,
  .container-titulos {
    padding: 0.6rem;
  }
  .dash-container .card-body .col-8 {
    font-size: 20px !important;
  }
  .dash-container .card-body .col-8 h4 {
    font-size: 16px !important;
  }
  .dash-container .card-body .col-8 span {
    font-size: 20px !important;
    font-family: 'Oswald', sans-serif;
    margin-right: 5px;
  }
  .info-box .col-8 h3 {
    font-size: 14px !important;
  }
  .container-titulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-devedores .card,
  .container-titulos .card {
    margin: 4px auto;
  }
}

.card-info-devedor h5 {
  font-size: 28px;
  font-weight: 600;
}

.card-info-devedor p span {
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */